<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Nossa história</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#">
                            <img src="~/template/assets/img/about/1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">Apoio às vítimas de violência doméstica</h4>
                        </a>
                        <p>
                            Damos apoio para mulheres que sofrem qualquer tipo de violência:
                        </p>
                        <ul>
                            <li>
                                <i class="bi bi-check"></i> Violência física
                            </li>
                            <li>
                                <i class="bi bi-check"></i> Violência moral
                            </li>
                            <li>
                                <i class="bi bi-check"></i> Violência patrimonial
                            </li>
                            <li>
                                <i class="bi bi-check"></i> Violência psicológica
                            </li>
                            <li>
                                <i class="bi bi-check"></i> Violência sexual
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div>