<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Nossa história</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#">
                            <img src="~/template/assets/img/about/1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">Apoio às vítimas de violência doméstica</h4>
                        </a>
                        <p>
                            Defendemos a transformação da mulher, de indivíduo em agente ativo, gerando poder, resgate da
                            dignidade e autonomia, por meio de:
                        </p>
                        <ul>
                            <li>
                                <i class="bi bi-check"></i> Autoconhecimento
                            </li>
                            <li>
                                <i class="bi bi-check"></i> Educação
                            </li>
                            <li>
                                <i class="bi bi-check"></i> Formação profissional
                            </li>
                        </ul>
                        <p>
                            Nesse nível, e a partir de um projeto pessoal de ganho do autoconhecimento e força,
                            a mulher começa a desafiar as barreiras e dificuldades que encontra.
                        </p>
                        <p>
                            Propomos aqui a formação profissional, geração de trabalho e renda (GTR) e desenvolvimento
                            pessoal que, por meio do acesso ao conhecimento, à informação e o exercício de cidadania, oportuniza
                            que mulheres em situação de risco social estudem, adquiram condições de mudar seu presente e
                            construir um futuro melhor.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div>