<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url(template/assets/img/hero-carousel/1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">A maior rede de apoio contra violência doméstica</h2>
                            <p class="animate__animated animate__fadeInUp">Entenda o caminho para conquistar sua independência</p>
                            <a href="@Url.Action("Index", "Quiz")" class="btn-get-started scrollto animate__animated animate__fadeInUp">Fazer o teste</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(template/assets/img/hero-carousel/2.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">A maior rede de instituições de ensino contra violência</h2>
                            <p class="animate__animated animate__fadeInUp">Aprenda o caminho das pedras</p>
                            <a href="@Url.Action("Index", "Quiz")" class="btn-get-started scrollto animate__animated animate__fadeInUp">Fazer o teste</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(template/assets/img/hero-carousel/3.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">A maior rede de empresas contra violência</h2>
                            <p class="animate__animated animate__fadeInUp">Tenha a chance de trabalhar nos parceiros</p>
                            <a href="@Url.Action("Index", "Quiz")" class="btn-get-started scrollto animate__animated animate__fadeInUp">Fazer o teste</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section>
