<div id="pricing" class="pricing-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Tabela de preços</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pri_table_list">
                    <h3>Gratuito <br /> <span>R$ 0 / mês</span></h3>
                    <ol>
                        <li class="check"><i class="bi bi-check"></i><span>Online system</span></li>
                        <li class="check"><i class="bi bi-x"></i><span>Full access</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Free apps</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Multiple slider</span></li>
                        <li class="cross"><i class="bi bi-x"></i><span>Free domin</span></li>
                        <li class="cross"><i class="bi bi-x"></i><span>Support unlimited</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Payment online</span></li>
                        <li class="check"><i class="bi bi-x"></i><span>Cash back</span></li>
                    </ol>
                    <button>Cadastre-se agora</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pri_table_list active">
                    <span class="saleon">Popular</span>
                    <h3>Padrão <br /> <span>R$ 110 / mês</span></h3>
                    <ol>
                        <li class="check"><i class="bi bi-check"></i><span>Online system</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Full access</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Free apps</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Multiple slider</span></li>
                        <li class="cross"><i class="bi bi-x"></i><span>Free domin</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Support unlimited</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Payment online</span></li>
                        <li class="cross"><i class="bi bi-x"></i><span>Cash back</span></li>
                    </ol>
                    <button>Cadastre-se agora</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pri_table_list">
                    <h3>Premium <br /> <span>R$ 150 / mês</span></h3>
                    <ol>
                        <li class="check"><i class="bi bi-check"></i><span>Online system</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Full access</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Free apps</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Multiple slider</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Free domin</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Support unlimited</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Payment online</span></li>
                        <li class="check"><i class="bi bi-check"></i><span>Cash back</span></li>
                    </ol>
                    <button>Cadastre-se agora</button>
                </div>
            </div>
        </div>
    </div>
</div>