<div class="area-padding-2">
</div>
<div class="reviews-area">
    <div class="row g-0">
        <div class="col-lg-6">
            <img src="~/template/assets/img/about/2.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 work-right-text d-flex align-items-center">
            <div class="px-5 py-5 py-lg-0">
                <h2>A rede de apoio a vítimas de violência doméstica</h2>
                <h5>Instituições de ensino, empresas parceiras e equipe de apoio</h5>
                <a href="#contact" class="ready-btn scrollto">Entre em contato</a>
            </div>
        </div>
    </div>
</div> 