<div id="team" class="our-team-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Nosso time</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-team-member">
                    <div class="team-img">
                        <a href="#">
                            <img src="~/template/assets/img/team/1.jpg" alt="">
                        </a>
                        <div class="team-social-icon text-center">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="bi bi-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bi bi-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bi bi-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h4>Amanda Makino</h4>
                        <p>Engenheira de software</p>
                    </div>
                </div>
            </div>
            <!-- End column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-team-member">
                    <div class="team-img">
                        <a href="#">
                            <img src="~/template/assets/img/team/2.jpeg" alt="">
                        </a>
                        <div class="team-social-icon text-center">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="bi bi-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bi bi-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bi bi-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h4>Carla Rayane</h4>
                        <p>Estudante de psicologia</p>
                    </div>
                </div>
            </div>
            <!-- End column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-team-member">
                    <div class="team-img">
                        <a href="#">
                            <img src="~/template/assets/img/team/3.jpg" alt="">
                        </a>
                        <div class="team-social-icon text-center">
                            <ul>
                                <li>
                                    <a href="https://twitter.com/amandamakino">
                                        <i class="bi bi-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/amandamakino">
                                        <i class="bi bi-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://br.linkedin.com/in/amandamakino">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h4>Débora Bertoldi</h4>
                        <p>Administradora e Educadora financeira</p>
                    </div>
                </div>
            </div>
            <!-- End column -->
        </div>
    </div>
</div>